# Core latex/pdflatex auxiliary files:
*.pdf
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.fdb_latexmk
*.synctex.gz

# Cover letters
cover_letter/
!cover_letter/template.sty

# Personal information
personalinfo.sty

# Old stuff to ignore
Archive/
Resume_ChrisT_ref.pdf
xargs.cmd