# Archive
Archive/

Resume_ChrisT_ref.pdf
*.fdb_latexmk
*.synctex.gz

## Core latex/pdflatex auxiliary files:
*.pdf
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

##For Installation
xargs.cmd